*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

#InputFiles
*.nt
*.csv
*.triG
data/*
properties/*

#Output


# Eclipse
bin/*
.classpath
.project
.settings/
src/main/resources/data/preprocessing/
.launch
.zip
.properties

#Maven
target

#data
*.csv
*.DS_Store
*.trig
*.db


#INTELLIJ
.idea
.idea/*
*.iml
/bin
*.eml

heaven-pkg/

# Output data
heaven-lubm/data/output/*
heaven-citybench/DB/*
*.idn
*.dat
*.log
*.select

